.overlay{
  background-color: rgba(202, 193, 193, 0.8);
  margin-top:5%;
  color: white;
  border: 1px solid white;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-left: 5%;
}
.overlay1{
  background-color: rgba(202, 193, 193, 0.8);
  margin-top:0.5%;
  color: black;
  border: 1px solid white;
  padding-top: 2%;
}
.overlay2{
  background-color: rgba(202, 193, 193, 0.8);
  margin-top:2.7%;
  color: black;
  border: 1px solid white;
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
  margin-bottom: 2.7%;
}
hr{
  background-color: white;
  width: 20%;
}

.card{
  background-color:rgba(202, 193, 193, 0.8);
  margin-bottom: 2%;
  color: black;
}
#date{
  float:right;
  font-size: 18px;
}
.form-control::placeholder{
  color: white;
}
input[type='text']{
  color: white;
}