<div class="container overlay1">
<h1 style="text-align: center;">
{{ title | titlecase}} app!
</h1>
<hr>
</div>

  <div class="row">
    <div class="col-sm-4">
      <div class="container overlay">
      <app-diary-form (addItem)="newDiaryEntry($event)"></app-diary-form>
      </div>
    </div>
    <div class="col-sm-7 entries">
      <div style="color: rgb(1, 32, 32)">
        <div class="container overlay2">
          <h2>Programs in diary.</h2>
        </div>
        
      </div>
      <div *ngFor="let diary of diaries let i = index">
        <div class="card">
          <div class="card-body">
              <h4>{{diary.name}} <span id="date">{{diary.createdOn|date}}</span></h4>
              <app-diary-details *ngIf = 'diary.displayInfo' [diary]='diary' (isComplete) = 'deleteItem($event,i)'></app-diary-details>
          </div>
          <div class="card-footer">
            <button class="btn btn-info btn-sm" (click)='toggle(i)'>Details</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-1">
        
    </div>
  </div>
